<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kurento Tutorial 4: Video Call 1 to 1 with WebRTC</title>
</head>
<body>

<div id="step1">
    <input type="text" id="nameInp">
    <button id="nameOk">확인</button>
</div>

<div id="step2">
    <button id="createRoom">방 생성</button>
    <ul id="rooms"></ul>
    <div id="chat"></div>
    <div id="me">
        <video></video>
        <span></span>
    </div>
    <ul id="streams"></ul>

</div>

</body>
</html>