# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_DEV_\web-rtc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
